



body {
  background-color: #c8c8c8;
  margin: 0px;
  width:100vw;
  height:100vh;
}


.navigation {
  cursor: pointer;
  padding: 0px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.wrapper {
  display: grid;
  column-gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*.start-row {
  margin: auto;
  width: 120px;
  height: 43px;
  background-color: #eb6536;
  padding-top: 18px;
  font-family: 'Work Sans';
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 9px;
  cursor: pointer;
}*/


