body {
  background-color: #c8c8c8;
  margin: 0px;
}

/* Style the X for back button */
.active{
  float: right;
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Tangerine', sans-serif;
}

/* Change the color of the x on hover*/
.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation {
  cursor: pointer;
  padding: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c8c8c8;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 32px;
  margin-left: 50px;
  text-decoration: none;
}


.rowOne{
  position: relative;
  top: 100px;
  left: 175px;

}

.rowTwo{
  position: relative;
  top: 150px;
  left: 450px;

}

.rowThree{
  position: relative;
  top: 200px;
  left: 700px;

}

