


body {
  background-color: #c8c8c8;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.active{
  float: right;
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Tangerine', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation {
  cursor: pointer;
  padding: 10px;
}

div{
  margin-left: 30px;
}

p{
  margin-right: 750px;
}




